@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
/* MISCELANEOUS */

@import url('./misc/variables.css');
@import url('./misc/normalize.css');
@import url('./misc/helpers.css');
@import url('./misc/animation.css');

/* PARTIALS */

@import url('./partials/header.css');
@import url('./partials/footer.css');

/* COMPONENTS */
@import url('./components/slider.css');
@import url('./components/card.css');
@import url('./components/form.css');
@import url('./components/buttons.css');
@import url('./components/popup.css');
/*PAGES*/ 
@import url('./pages/home.css');
@import url('./pages/login.css');

/*Page login and register*/ 




/*Item and create*/

.item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-article {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16);
}

.item-article-title {
  font-size: var(--font-jumbo);
  font-weight: bold;
}

.item-article-price {
  font-size: var(--font-jumbo);
  color: var(--grey-font-solid);
}

.item-article-div-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-12)
}

.item-article-div-button {
  font-size: var(--font-small);
  color:var(--light-font-solid);
  background-color: var(--grey-font-solid);
  padding:  var(--spacing-12) var(--spacing-20);
  transition: background .3s ease-in-out;
  border: 1px solid var(--light-font-solid);
}

.item-article-div-button:hover {
  background-color: var(--grey-light-ph-solid);
}

.item-article-div-container .item-article-div-button:first-child {
  padding: var(--spacing-12) 2.2rem;
}

.item-article-div-input {
  text-align: center;
  font-size: var(--font-medium);
  width: var(--spacing-36);
  height: var(--spacing-36);
}

.item-article-offers {
  padding: 0;
  font-size: var(--font-small);
  color:var(--secondary-900);
  font-weight: 700;
}

.editCreate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:var(--spacing-28);
  padding: var(--spacing-36) 0;
  background-size: cover;
}

.editCreate-container h2{
  font-size: var(--font-display);
}

.editCreate-div1 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-36);
}

.editCreate-div1-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-20);
}

select {
  font-size: var(--font-intermediate);
  padding-left: var(--spacing-8);
}

#selectCategorias  {
  width: 24.5rem;
  height: 4.428rem;
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
}

#selectLicencia {
  width: 24.5rem;
  height: 4.428rem;
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
}

#inputNombre {
  width: 24.5rem;
}

#textDescProducto {
  font-family: var(--base-font);
  font-size: var(--font-medium);
  font-weight: 700;
  padding: var(--spacing-8);
  width: 85%;
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
}

#selectCuotas {
  width: 34.5rem;
  height: 4.428rem;
  border: 2px solid var(--dark-bg-solid);
  border-radius: 6px;
}

#inputSku {
  text-align: center;
  width:var(--spacing-128) ;
}

#inputStock {
  text-align: center;
  width: 5.5rem;
}

#inputDesc {
  text-align: center;
  width: 5.5rem;
}
/*FIN FORMATO WEB*/

/*Acá realizamos el breakpoint para celulares con un maximo de 400px.*/
@media screen and (max-width: 400px) {

  a {
    padding: var(--spacing-8);
  }

  header,
  footer {
    font-size: var(--font-xsmall);
  }

  h3 {
    text-align: center;
    font-size: var(--font-jumbo);
  }

  p {
    text-align: center;
    font-size: var(--font-intermediate);
  }

  h2 {
    text-align:center;
    font-size: var(--font-jumbo);
  }

  img {
    width: 75%;
  }
  /*Header*/
  .container {
    width: 34rem;
    margin:auto;
  }
  
  .nav-container {  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8);
  }

  .nav-container > picture > a > img {
    margin-left: 3.2rem;
  }

  .navbar-list {
    gap: var(--spacing-8);
  }

  .navbar-list img {
    width: 50%;
  }

  .navbar-link {
    padding: var(--spacing-8) var(--spacing-8);
  }

  .navbar-link:hover {
    background-color: var(--primary-900);
  }

  .with-submenu:hover .submenu {
    display:block;
  }

  .submenu {
    width: var(--spacing-128);
  }

  .submenu-item {
    padding: 0 var(--spacing-8);
  }

  .submenu-link {
    font-size: var(--font-xsmall);
  }

  .submenu-link:hover {
    background-color: var(--primary-900);
  }

  /*banner*/
  .banner {    
    background-size: auto;
    padding-top: var(--spacing-68);
    padding-bottom: var(--spacing-68);
  }

  .banner-container {
    align-items: center;
  }

  .banner-text {
    text-align: center;
    font-size: var(--font-medium);
    color: var(--light-font-solid);  
  }

  /*Collection*/
  .collection {
    display: flex;
    flex-direction: column;  
  }

  .collection:nth-child(2) .prueba{
    order: 2;    
  }
  .collection-article {
    align-items: center;
  }
  
  .collection-article-text {
    border-bottom: solid var(--light-bg-solid);
    padding-bottom: 0;    
  }
  .collection > picture {
    border-bottom: solid var(--primary-900);
    padding-bottom: var(--spacing-20); 
  }

  .collection-article-link {
    align-self: center;
    font-size: var(--font-intermediate);
    margin-top:0 ;
  }
  
  .slider {
    gap:var(--spacing-8);  
  }

  .slider-items {
    flex-direction: column;
    gap: var(--spacing-12);
  }
 
  .card-item-div  {
    align-items: center;
    gap: var(--spacing-8);
    padding: var(--spacing-12);
  }

  .card-item-div-text{
    font-size: var(--font-xsmall);
  }

  .card-item-div-title {
    font-size: var(--font-small);
  }

  .card-item-div-price {
    font-size: var(--font-small);
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-copy {
    font-size: var(--spacing-16);
    padding-bottom:var(--spacing-16);
  }

  /*Item*/
  .item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .item-article {
    align-items: center;
  }

  .item-article-offers {
    text-align: center;
  }
}

.error-message {
  color: var(--primary-solid);
  font-size: var(--font-xsmall);
  text-align: center;
  font-weight: 700;

}