<footer >
    <nav class="nav-container footer-container container">
        <ul>
            <li>
                <a class="navbar-link" href="/shop">SHOP</a>
            </li>
            <li>
                <a class="navbar-link" href="/register">REGISTRARSE</a>
            </li>
            <li>
                <a class="navbar-link" href="/login">INGRESAR</a>
            </li>
            <li>
                <a class="navbar-link" href="/contact">CONTACTO</a>
            </li>
        </ul>
        <picture class="footer-logo">
            <a href="/">
                <img src="/img/branding/isotype.svg" alt="">
            </a>
        </picture>
    </nav>
    <p class="footer-copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer> 