<header> 
    <nav class="container nav-container">
        <picture>
            <a href="/" >
                <img  src="/img/branding/logo_light_horizontal.svg" alt="Icono de FunkoShop">
            </a>
        </picture>    
        <ul class="navbar-list">
            <li class="with-submenu" >
                <a class="navbar-link with-icon" href="/shop" >SHOP <iconify-icon icon="mdi:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a class="submenu-link" href="">FUNKOS</a>
                    </li>
                    <li class="submenu-item">
                        <a class="submenu-link" href="">REMERAS</a>
                    </li>
                    <li class="submenu-item">
                        <a class="submenu-link" href="">LLAVEROS</a>
                    </li>
                </ul>
            </li>
            <li >
               <a class="navbar-link" href="/contact">CONTACTO</a>
            </li>
            <li>
                <a class="navbar-link" href="/login">INGRESAR</a>
            </li>
            <li >
                <a href="">
                    <img src="/img/icons/cart-icon.svg"  alt="Ãcono de carrito">
                </a>
            </li>     
        </ul>
    </nav>        
</header>
