/*Page login and register*/ 

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:var(--spacing-28);
  padding: var(--spacing-68) 0;
  background-size: cover;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  gap:var(--spacing-28);
}

.login-buttom-container {
  display: flex;
  gap: var(--spacing-20);
  justify-content: center;
  align-items: center;
}

.login-buttom-container label{
  font-size: var(--font-small);
  font-weight: 800;
  margin-left: var(--spacing-12);
}

.login-buttom-container a{
  font-size: var(--font-xsmall);
  color:var(--secondary-solid);
  font-weight: 700;
} 